# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
#data/

# Executables
*.swf
*.air
*.ipa
*.apk
/vectorizer.pkl
/classifier.pkl
/vectorizerBKP.pkl
